
body{ 
    background-image: url(Fondos/fondo.jpg);
    color: rgb(25, 255, 90);
    margin: 0;
}

h1 {
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.subtitulo {
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

main {
    background-color: rgba(73, 43, 90, 0.507);
    width: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 30px;
}

.contenedor-form {
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.casilla {
    width: 25%;
    margin: 10px;
    padding: 5px;
    border: 2px solid rgb(247, 130, 227);
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    text-align: center;
}

.contenedor-recomendacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.opciones {
    width: 25%;
    padding: 5px;
    border: 2px solid rgb(247, 130, 227);
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
}

.contenedor-mejoras {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.opciones-mejoras {
    margin-left: 50px;
}

.comentarios {
    width: 25%;
    height: 25%;
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 2px solid rgb(247, 130, 227);
}

.submit {
    background-color: #fb0f83;
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    width: 26%;
    height: auto;
    padding: 11px;
    color: white;
    margin: 20px;
    font-weight: bold;
}
