body{ 
    background-image: url(Fondos/fondo.jpg);
    text-align: center;
    color: rgb(25, 255, 90);

}

h1 {
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
}

.subtitulo {
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

.contenedor-form {
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.casilla {
    width: 25%;
    margin: 10px;
    padding: 5px;
    border: 2px solid rgb(247, 130, 227);
    font-family: 'Yantramanav', sans-serif;
    font-size: large;
    text-align: center;
}

.contenedor-recomendacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.opciones {
    width: 25%;
    padding: 5px;
    border: 2px solid rgb(247, 130, 227);
    font-family: 'Yantramanav', sans-serif;
    font-size: large;
}

.contenedor-mejoras {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.opciones-mejoras {
    margin-left: 50px;
}

.comentarios {
    width: 25%;
    height: 25%;
    font-family: 'Yantramanav', sans-serif;
    font-size: large;
    padding: 5px;
    border: 2px solid rgb(247, 130, 227);
}

.submit {
    background-color: #fb0f83;
    font-family: 'Yantramanav', sans-serif;
    font-size: large;
    width: 26%;
    height: auto;
    padding: 11px;
    color: white;
}
